<h1>
  List of all actors
</h1>

<hr>
<form action="/actors/add" method=post>

<div> <label for= "actor_name_field">Name</label>
<input id="actor_name_field" name="actor_name_param"></div>
<div> <label for= "actor_dob_field">Dob</label>
<input type= date id="actor_dob_field" name="actor_dob_param"></div>
<div> <label for= "actor_bio_field">Bio</label>
<textarea id="actor_bio_field" rows=3 name="actor_bio_param"></textarea></div>
<div> <label for= "actor_image_field">Image</label>
<input id="actor_image_field" name="actor_image_param"></div>

<button>Create actor</button>

</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
